.contact-form{
    text-align: center;
    padding: 15px;
    background-color: #271033;
}

.contact-form .input_text{
    width:500px;
    height: 50px;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #388697; 
  }
  .contact-form .btn{
    width: 180px;
    background-color: transparent;
    color: #388697;
    font-size: 16px;
    border: 2px solid #388697;
    padding: 10px;
    cursor: pointer;
    transition: .3s linear;
    border-radius: 5px;
    
  }
  .contact-form .btn:hover{
    background-color: #388697;
    color: #fff;
  }