.List-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .List-container {
    background-color: #353b48;
    height: auto;
  }
  .add-Movie {
    text-align: center;
  }
  .add-btn {
    padding: 10px 20px;
    margin: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    background-color: #d48166;
    color: white;
    border-radius: 7px;
    border: none;
    outline: none;
  }